.navbar {
    display: inline-flex;
    justify-content: space-between;

    width: 90vw;

    margin: .5em 0 .5em 0;
    padding: .25em;

    border-radius: 1.5em;
    background-color: #202020;

    text-align: center;
    vertical-align: middle;
    line-height: 100%;
}

.left {
    display: inline-flex;
    justify-content: space-between;
}

.tab {
    color: #D0D0D0;
    background-color: #242424;
    border-radius: 1.5em;

    font-size: 1rem;
    padding: .75rem 1rem .5rem 1rem;
    margin: 0 .1em;
    text-align: center;
    vertical-align: middle;
    line-height: 1rem;
}

.highlighted {
    color: white;
}

.tab:hover {
    cursor: pointer; 
}

.navbar > img {
    margin: .25rem;
}

.navbar > img:hover {
    cursor: pointer;
}
