.resultcard {
    width: 45%;
    max-height: 24rem;

    padding: 1em; 
    margin: 1em;

    color: white;

    border-radius: .25em;
    box-shadow: 0px 0px .25em 2px rgba(255, 255, 255, 0.1);
}

.resultcard-information {
    padding: 0 0 .5rem 0;
    display: flex;
    flex-direction: column;
}

.resultcard-information > h1 {
    margin: .125rem;
    padding: 0;

    text-align: left;
    font-size: 1.5rem;
}

.source {
    display: inline-flex;
}

.source > h2 {
    color: rgba(255, 255, 255, 0.75);
    font-size: .75rem;
}

.source > .source-link {
    color: darkcyan;
}

.source-link:hover {
    cursor: pointer;
}

.resultcard-summary {
    text-align: left;

    padding: 0;
    margin: 0;
}
